body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
}

h2 {
    color: #ff0;
}

form {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"],
input[type="text"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #ff0;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ffc;
}

